# Slack認証
SLACK_BOT_TOKEN=your-slack-bot-token
SLACK_SIGNING_SECRET=your-slack-signing-secret

# Gemini認証
GEMINI_API_KEY=your-gemini-api-key
# AIモデルの指定
GEMINI_MODEL_NAME=your-gemini-model-name

# カレンダー連携
ACCOUNT_A_EMAIL=your-account-a-email

# Notion認証とグローバルメモリ
NOTION_API_KEY=your-notion-api-key
GLOBAL_MEMORY_PAGE_ID=your-global-memory-page-id


# デイリーニュース用のチャンネルとメモリ
DAILY_NEWS_MEMORY_PAGE_ID=your-daily-news-memory-page-id
SLACK_CHANNEL_DAILY_NEWS=your-slack-channel-daily-news

# 経済学研究用のチャンネルとメモリ
ECONOMY_RESEARCH_MEMORY_PAGE_ID=your-economy-research-memory-page-id
SLACK_CHANNEL_ECONOMY_RESEARCH=your-slack-channel-economy-research
# ビジネス用のチャンネルとメモリ
BUSINESS_MEMORY_PAGE_ID=your-business-memory-page-id
SLACK_CHANNEL_BUSINESS=your-slack-channel-business
# キャリア用のチャンネルとメモリ
CARREER_MEMORY_PAGE_ID=your-carreer-memory-page-id
SLACK_CHANNEL_CARREER=your-slack-channel-carreer


# Dockerの再起動ポリシー（no, on-failure, always, unless-stoppedから選択 何も記載されなければalways扱いとなる）
DOCKER_RESTART_POLICY="no"

# Slack App Token (Socket Mode用)
SLACK_APP_TOKEN=your-slack-app-token
